fit/*.root
fit/rootfiles/*.root
kostas/*.root
kostas/rootfiles/*.root
kostas/transfer/
kostas/workspace/
*.pyc
*/*.pyc
*.so
*/*.so
*.d
*/*.d
*/*.log
*/rootfiles/
*/plots/
*/flat/
trigger/logs*/
*.root
